
<div class="display: flex" style="background-image: url('../../assets/images/bg_dashboard.png');
height: 100vh;">


	<div class="container">
		<div class="nav" style="height:200px" width="100%">

		</div>

	  <div class="row">

			<div class="card col-sm-4 " style="width: 18rem; padding: 30px">
			<img src="../../assets/images/cool-geometric-triangular-figure-neon-laser-light-great-backgrounds-wallpapers_181624-9331.jpg"
				class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">
					Some quick example text to build on the card title and
					make up the bulk of the card's content.</p>
				<a href="#" class="btn bg-blue">Get Gaming</a>
			</div>
		</div>
		
		<div width="50px">
		
		</div>
		
		<div class="card col-sm-4" style="width: 18rem;">
			<img src="../../assets/images/cool-geometric-triangular-figure-neon-laser-light-great-backgrounds-wallpapers_181624-9331.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">
					Some quick example text to build on the card title and make
					up the bulk of the card's content.</p>
				<a href="#" class="btn bg-blue">Get Gaming</a>
			</div>
		</div>
		
		<div class="card col-sm-4" style="width: 18rem;">
			<img src="../../assets/images/cool-geometric-triangular-figure-neon-laser-light-great-backgrounds-wallpapers_181624-9331.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
					content.</p>
				<a href="#" class="btn bg-blue">Get Gaming</a>
			</div>
		</div>
		</div>

	  </div>

		  <footer class="center justify-content-center col-sm-12">
			<a href="login"   class="btn bg-blue">LOGOUT</a>


		  </footer>


	
	</div>
